<div class="window">
    <div class="winHeader">
        <p class="winHeaderTitle">Google Paint</p>
        <img src="/winMinimize.png" alt="winMinimize" class="winHeadeImg" />
        <img src="/winRestore.png" alt="winRestore" class="winHeadeImg" />
        <img src="/winClose.png" alt="winClose" class="winHeadeImg2" />
    </div>
    <div class="winBody">

    </div>


    <span class="sideT"></span>
    <span class="sideR"></span>
    <span class="sideL"></span>
    <span class="sideB"></span>
</div>