.window {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 800px;
  height: 500px;

  background-color: #1e5c3a49;
  backdrop-filter: blur(5px);
  border: 3px solid #50c878;
  border-radius: 10px;

  z-index: 5;

  resize: both;
}

.winHeader {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;

  width: 100%;
  height: 30px;
  background-color: #1e5c3a;

  border-radius: 7px 7px 0 0;
  border-bottom: 3px solid #50c878;
}

.winHeader:active {
  cursor: move;
}

.winHeaderTitle {
  position: absolute;
  left: 7px;
  font-size: 18px;
}

.winHeadeImg {
  height: 70%;
  margin: 7px;
}

.winHeadeImg2 {
  height: 60%;
  margin: 7px;
}

.winBody {
  padding: 7px;
  width: calc(100% - 14px);
  height: calc(100% - 47px);
  border-radius: 0 0 7px 7px;
}

.colors {
  background-color: #4ad66d;
  background-color: #1e5c3a;
  background-color: #50c878;
}

.sideT {
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;

  width: calc(100% + 10px);
  height: 5px;
  background-color: yellow;
  resize: both;
}

.sideR {
  cursor: w-resize;
  display: block;
  position: absolute;
  top: -5px;
  right: -5px;

  width: 5px;
  height: calc(100% + 10px);
  background-color: rgba(245, 245, 0, 0);
}

.sideL {
  cursor: w-resize;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;

  width: 5px;
  height: calc(100% + 10px);
  background-color: yellow;
}

.sideB {
  cursor: n-resize;
  display: block;
  position: absolute;
  bottom: -5px;
  left: -5px;

  width: calc(100% + 10px);
  height: 5px;
  background-color: yellow;
}
