<section class="panel">
    <div class="icon">
        <div class="icon_img">
            <img src="/Google.png" alt="">
        </div>
    </div>

    <div class="icon">
        <div class="icon_img">
            <img src="/Google.png" alt="">
        </div>
    </div>

    <div class="icon">
        <div class="icon_img">
            <img src="/Google.png" alt="">
        </div>
    </div>
    <div class="icon">
        <div class="icon_img">
            <img src="/Google.png" alt="">
        </div>
    </div>
    <div class="icon">
        <div class="icon_img">
            <img src="/Google.png" alt="">
        </div>
    </div>
    <div class="icon">
        <div class="icon_img">
            <img src="/Google.png" alt="">
        </div>
    </div>
</section>